@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    width: 100%;
}

#logo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 15rem;
    
}

.iconos_skills {
    max-width: 2.5rem;
}

.estrellas {
    max-width: 10rem;
}

/*-----------------*/

.tabs_g1 {
    display: flex;
    flex-wrap: wrap;
    height:fit-content;
    width: 22rem;
    height: min-content;
}

.tabs_g1 label {
    width: 7rem;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #eee;
    cursor: pointer;
    border-radius: 1rem 1rem 0 0;
    font-weight: bold;
}

.tabs_g1 .tab  {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;

    background-color: #ccc;
    padding: 1.25rem;
}

.tabs_g1 input[type="radio"] {
    display: none;
}

.tabs_g1 input[type="radio"]:checked + label {
    background: #ccc;

}

.tabs_g1 input[type="radio"]:checked + label + .tab {
    display: block;
}

/*----------------*/

.tabs_g2 {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    width: 22rem;
}

.tabs_g2 label {
    width: 7rem;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #eee;
    font-weight: bold;
    border-radius: 1rem 1rem 0 0;
}

.tabs_g2 .tab  {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    background: #ccc;
    padding: 1.25rem;
}

.tabs_g2 input[type="radio"] {
    display: none;
}

.tabs_g2 input[type="radio"]:checked + label {
    background: #ccc;
}

.tabs_g2 input[type="radio"]:checked + label + .tab {
    display: block;
}

.tabs_g2 .tab ul {
    list-style-type: none;
}
.tabs_g2 .tab ul li {
    line-height: 2rem;
}

/*--------------------*/

.tabs_g3 {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    width: 22rem;
}

.tabs_g3 label {
    width: 7rem;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #eee;
    font-weight: bold;
    border-radius: 1rem 1rem 0 0;
}

.tabs_g3 .tab  {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: #ccc;
    padding: 1.25rem;
}

.tabs_g3 input[type="radio"] {
    display: none;
}

.tabs_g3 input[type="radio"]:checked + label {
    background: #ccc;
}

.tabs_g3 input[type="radio"]:checked + label + .tab {
    display: block;
}

 /* Retrato */
    #datos_personales {
        

        display: flex;
        flex-flow: column wrap;

        gap: 0.75rem;
    }
    
    #avatar {
        
        justify-self: center;
        align-self: center;
        background-color: #0e1d49;
        border-radius: 10rem;
        padding: 0.25rem;
    }

    #avatar img {
        width: 10rem;
        border-radius: 5rem;
    }
    
    #nivel {
        width: 10rem;
        align-self: center;
        text-align: center;
        background-color: #e10a54;
        color: #fff;
        font-size: 1.3em;
        padding: 0.25rem;
    }
    
    #barranivel {
        justify-items: center;
        text-align: center;
        margin: 0 1rem 0.5rem 1rem;
        height: fit-content;
        background-color:#dedede;
    }

    .progreso_barra_nivel {
        width: 80%;
        height: 1.75rem;
        background-color: #0e1d49 ;
        font-size: 0.6em;
        padding-top: 0.5rem;
    }

    #nombre {
        text-align: center;
        justify-content: center;
        background-color: #e10a54;
        font-size: 2em;
        padding: 0.5rem 2rem 0 2rem;
    }
    
    #contacto {
        align-content: center;
        text-align: left;
        padding: 2rem;
        background-color: #dedede;   
    }

    #contacto ul {
        padding-left: 0;
        list-style-type: none;
        line-height: 1.75rem;
    }

    #descripcion {
        padding:0 2rem;
        border: 1px solid #0e1d49;
    }
    #descripcion h4 {
        font-size: 1.5rem;
    }

    /* --------------------------*/

    #datos_formacion {
        
        display: flex;
        flex-flow: column wrap;
        margin: 0 1rem 5rem 1rem;
        gap: 0.5rem;
        
    }


    .tab ul {
        padding-left: 1rem;
        
    }

    .tab ul li {
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    }

    

    .iconos_badge img {
        margin: .25rem .25rem;
    }

    

@media screen and (min-width: 600px) { /* Apaisado */
    #datos_personales {
        

        display: grid;
        
        grid-template-columns: 0.25fr .8fr  ; 
        grid-template-rows: 1fr 0.25fr ; 

        grid-template-areas: 
        "avatar nombre"
        "avatar contacto"
        "nivel contacto"
        "descripcion descripcion";

        gap: 0.75rem;
    }
    
    #avatar {
        grid-area: avatar;
        justify-self: center;
        align-self: center;
        background-color: #0e1d49;
        border-radius: 10rem;
        padding: 0.25rem;
    }

    #avatar img {
        width: 10rem;
        border-radius: 5rem;
    }
    
    #nivel {
        width: 10rem;
        justify-self: center;
        text-align: center;
        grid-area: nivel;
        background-color: #e10a54;
        color: #fff;
        font-size: 1.3em;
        padding: 0.25rem;
    }
    
    #barranivel {
        justify-items: center;
        text-align: center;
        margin: 0 1rem 0.5rem 1rem;
        height: fit-content;
        background-color:#dedede;
    }

    .progreso_barra_nivel {
        width: 80%;
        height: 1.75rem;
        background-color: #0e1d49 ;
        font-size: 0.6em;
        padding-top: 0.5rem;
    }
    
    #nombre {
        grid-area: nombre;
        text-align: center;
        justify-content: center;
        background-color: #e10a54;
        font-size: 2em;
        padding: 0.5rem 2rem 0 2rem;
    }
    
    #contacto {
        grid-area: contacto;
        align-content: center;
        text-align: left;
        padding: 2rem;
        background-color: #dedede;   
    }

    #contacto ul {
        padding-left: 0;
        list-style-type: none;
        line-height: 1.75rem;
    }

    
    #descripcion {
        grid-area: descripcion;
        padding:0 2rem;
        border: 1px solid #0e1d49;
    }
    #descripcion h4 {
        font-size: 1.5rem;
    }

    /* --------------------------*/

    #datos_formacion {
        
        display: flex;
        flex-flow: column wrap;
        margin: 0 8rem 5rem 8rem;
        gap: 0.5rem;
        
    }
    


    .tab ul {
        padding-left: 1rem;
        
    }

    .tab ul li {
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    }

    

    .iconos_badge img {
        margin: .25rem .25rem;
    }


}

@media  screen and (min-width: 1000px) { /* Escritorio */
    
    body {
        margin: 0 auto;
    }

    #datos_personales {
        margin: 5rem 10rem ;

        display: grid;
        
        grid-template-columns: 0.25fr .8fr 1fr  ; 
        grid-template-rows: 1fr 0.25fr 0.25fr; 

        grid-template-areas: 
        "avatar nombre descripcion "
        "avatar contacto  descripcion "
        "nivel contacto  descripcion ";

        gap: 0.75rem;
    }
    
    #avatar {
        grid-area: avatar;
        justify-self: center;
        align-self: center;
        background-color: #0e1d49;
        border-radius: 10rem;
        padding: 0.25rem;
    }

    #avatar img {
        width: 10rem;
        border-radius: 5rem;
    }
    
    #nivel {
        width: 10rem;
        justify-self: center;
        text-align: center;
        grid-area: nivel;
        background-color: #e10a54;
        color: #fff;
        font-size: 1.3em;
        padding: 0.25rem;
    }
    
    #barranivel {
        justify-items: center;
        text-align: center;
        margin: 0 1rem 0.5rem 1rem;
        height: fit-content;
        background-color:#dedede;
    }

    .progreso_barra_nivel {
        width: 80%;
        height: 1.75rem;
        background-color: #0e1d49 ;
        font-size: 0.6em;
        padding-top: 0.5rem;
    }

    #nombre {
        grid-area: nombre;
        text-align: center;
        justify-content: center;
        background-color: #e10a54;
        font-size: 2em;
        padding: 0.5rem 2rem 0 2rem;
    }
    
    #contacto {
        grid-area: contacto;
        align-content: center;
        text-align: left;
        padding: 2rem;
        background-color: #dedede;   
    }

    #contacto ul {
        padding-left: 0;
        list-style-type: none;
        line-height: 1.75rem;
    }

    #descripcion {
        grid-area: descripcion;
        padding:0 2rem;
        border: 1px solid #0e1d49;
    }
    #descripcion h4 {
        font-size: 1.5rem;
    }
    

/*----------------------------------*/

    #datos_formacion {
        
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 8rem 5rem 8rem;
        gap: 0.5rem;
        
    }

    #expformacion {
        grid-column: 1/2;
    }

    #skills {
        grid-column: 2/3;
    }

    #insigniaslvl {
        grid-column: 3/4;
    }

    .tab ul {
        padding-left: 1rem;
        
    }

    .tab ul li {
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    }

    

    .iconos_badge img {
        margin: .25rem .25rem;
    }

    

}